<style>
  form {
  display: inline-block;
  }
</style>
  <title>TinyApp</title>
  <% if (user){ %>
     <li>User: <%= user.email %>
      <form action="/logout" method="POST" >
        <button type="submit"> Logout</button>
  </form></li>
      <% } else {%>
        <form action="/register" method="GET" >
          <input type="submit" value="Register">
        </form>
        <form action="/login" method="GET" >
          <input type="submit" value="Login">
        </form>
      <% } %>