
  <title>TinyApp</title>
  <% if (user){ %>
     <li>User: <%= user.email %>
      <form action="/logout" method="POST" >
        <button type="submit"> Logout</button>
  </form></li>
      <% } else {%>
  <form action="/login" method="POST" >
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder=" " style="width: 300px">
      <input type="submit" value="Submit">
      <% } %>
  </form>
