<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>

  <ul>
    <p>This is the index file.</p>

    <% for (var key in urls) { %>
        <form method="POST" action="/urls/<%= key %>/delete">
        <li><%= key %> : <%= urls[key] %>
        <input type="submit" value="Delete"></li>
        </form>
    <% }; %>
  </ul>

</body>
</html>